<div class="content-wrapper" style="font-family: 'Prompt';">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>เปลี่ยนรหัสผ่าน</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/dashboard">User</a></li>
                            <li class="breadcrumb-item active">Password</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.header -->

         <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">เปลี่ยนรหัสผ่าน</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form [formGroup] = "passwordForm">
                                    <div class="row" style="margin-top: 20px;">
            
                                        <div class="col-md-3">
                                                <div class="card-text">รหัสผ่านเดิม: </div>
                                        </div>
            
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="password" class="form-control" formControlName="password">
                                            </div>
                                        </div>
            
                                    </div>
            
                                    <div class="row" style="margin-top: 20px;">
            
                                        <div class="col-md-3">
                                                <div class="card-text">รหัสผ่านใหม่: </div>
                                        </div>
            
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="password" class="form-control" formControlName="newPassword">
                                            </div>
                                            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger" role="alert"> 
                                                <div *ngIf="newPassword.errors">
                                                    รหัสผ่านขั้นต่ำ 8 ตัว
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
            
                                    <div class="row" style="margin-top: 20px;">
            
                                        <div class="col-md-3">
                                                <div class="card-text">รหัสผ่านใหม่อีกครั้ง: </div>
                                        </div>
            
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="password" class="form-control" formControlName="newPasswordCheck">
                                            </div>
                                            <div *ngIf="passwordForm.value.newPasswordCheck != passwordForm.value.newPassword && (newPasswordCheck.dirty || newPasswordCheck.touched)" class="alert alert-danger" role="alert"> 
                                                    พาสเวิร์ดไม่ตรงกัน
                                            </div> 
                                        </div>
                                    </div>
            
                                    <div class="row" style="margin-top: 20px;">
            
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary" [disabled] = "passwordForm.invalid && passwordForm.value.newPasswordCheck != passwordForm.value.newPassword" (click)="changPWD()">เปลี่ยนรหัสผ่าน</button>
                                        </div>
                                    </div>
                                </form>
            
                            </div>
                        </div>
                        <!-- /. card -->
                    </div>
                    <!-- /. col -->
                </div>
                <!-- /. end row -->
            </div>
        </section>
            <!-- /. content -->
</div>