<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="font-family: 'Prompt';">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link">
        <span class="brand-text font-weight-light">CPE Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{user.img}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"> {{ user.firstName }} {{ user.lastName}} </a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a routerLink="/student" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            ข้อมูลนักศึกษา
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview active">
                        <li class="nav-item">
                            <a routerLink="student/general" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>นักศึกษาที่กำลังศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/student/gender" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ข้อมูลนักศึกษาแยกเพศ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="student/graduated" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ระยะเวลาการศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="student/work" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>การได้งานทำ</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a routerLink="/subject" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            ข้อมูลรายวิชา
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="subject/general" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>การกระจายเกรดต่างๆ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="subject/gpa" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>GPA วิชาต่างๆ</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a routerLink="score" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            ผลการประเมิน
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="score/teacher" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ผลประเมินการสอนผู้สอน</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open" *ngIf="isAdmin">
                    <a routerLink="admin" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            จัดการข้อมูล
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="admin/student" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>จัดการข้อมูลนักศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="admin/gender" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>จัดการข้อมูลเพศนักศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="admin/graduated" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>จัดการข้อมูลเวลาศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="admin/work" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>จัดการข้อมูลการได้งานทำ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="admin/score" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>จัดการผลประเมินการสอน</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="admin/subjects" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>จัดการข้อมูลรายวิชา</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a routerLink="/table" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            ตารางข้อมูล
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="table/student" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ตารางข้อมูลนักศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="table/gender" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ตารางข้อมูลนักศึกษาแยกเพศ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="table/graduated" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ตารางข้อมูลสำเร็จการศึกษา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="table/work" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ตารางข้อมูลการได้งานทำ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="table/subject" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ตารางข้อมูลรายวิชา</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="table/score" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ตารางข้อมูลผลประเมินการสอน</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul> 
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>