<div class="content-wrapper" style="font-family: 'Prompt';">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ข้อมูลการได้งาน</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Work</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <!-- chart 1 -->
                <div class="col-md-9">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">กราฟแสดง(ร้อยละ)จำนวนนักศึกษาที่ได้งานทำ</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="workChart"> {{ getWorkChart }}</canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- จบ chart 1 -->

                
                <!-- สรุป chart 1 -->
                <div class="col-md-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">สรุป</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" (click)="openEdit()" *ngIf="isAdmin">
                                    <ion-icon name="pencil-sharp" style="color: white;font-size: 18px;"></ion-icon>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" [formGroup]="workAnalysisForm" >
                            <span [innerHTML]="workAnalysis.text"></span>
                            <h3 *ngIf="edit">แก้ไข</h3>
                            <div [ngxSummernote]="config" formControlName='text' *ngIf="edit" ></div>
                            <button type="button" class="btn btn-primary" [disabled]="text1.invalid" (click)="editWorkAnalysis()" *ngIf="edit" >submit</button>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div style="text-align: end;">writted by {{writter.firstName}} {{writter.lastName}}</div>
                        </div>
                    </div>
                </div>
                <!-- สรุป chart 1 -->
                
                <!-- chart 2 -->
                <div class="col-md-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">กราฟแสดงเงินเดือนเฉลี่ย</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="salaryChart"> {{ salaryChart }}</canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- จบ chart 2 -->

                 <!-- chart 3 -->
                 <div class="col-md-6">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">กราฟแสดงร้อยละการได้งานตรงหลักสูตร</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="relevanceChart"> {{ relevanceChart }}</canvas>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- จบ chart 3 -->

                <!-- สรุป chart 2 & 3 -->
                 <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">สรุป</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" (click)="openEditSR()" *ngIf="isAdmin">
                                    <ion-icon name="pencil-sharp" style="color: white;font-size: 18px;"></ion-icon>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" [formGroup]="salaryRelevanceAnalysisForm" >
                            <span [innerHTML]="salaryRelevanceAnalysis.text"></span>
                            <h3 *ngIf="edit">แก้ไข</h3>
                            <div [ngxSummernote]="config" formControlName='text' *ngIf="editSR" ></div>
                            <button type="button" class="btn btn-primary" [disabled]="text2.invalid" (click)="editsalaryRelevanceAnalysis()" *ngIf="editSR" >submit</button>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div style="text-align: end;">writted by {{writtersalaryRelevance.firstName}} {{writtersalaryRelevance.lastName}}</div>
                        </div>
                    </div>
                </div>
                <!-- สรุป chart 1 -->
                
                <!-- /.สรุป chart 2 & 3 -->

            </div>
            

        </div>
    </section>

</div>
